html{
  height: 100%;
  font-family: 'coming_soon', cursive;
}

body{
  background-image: url(../img/greyzz.png);
  background-repeat: repeat;
  color: #6d6b6b;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
}

.white-bg{
  display: none;
}

.bg-notebook{
  position: relative;
  max-width: 100%;
  background-image: url(../img/paper_960.svg);
  padding: 0 2%;
  min-height: 100%;
  /*height: 100%; Dont use this. Limits page length*/ 
  padding-bottom: 100px;
}

.box-shadow{
  -webkit-box-shadow: 1px 7px 26px 1px rgba(0,0,0,0.63);
  -moz-box-shadow: 1px 7px 26px 1px rgba(0,0,0,0.63);
  box-shadow: 1px 7px 26px 1px rgba(0,0,0,0.63);
}

.section{
  margin-bottom: 20px;
}
.section-heading img{
  margin-bottom: -1em;
  margin-left: -1em;
  left:0;
  max-width: 50%;
  width: 30%;
  min-width: 160px;
  max-height: 80%;
}
.section-body{
  border: 2px dotted #999999;
  padding: 10px;
  padding-top: 15px;
}
.section2-heading{
  text-align: center;
}
.section2-heading img{
  margin-bottom: -2em;
  max-width: 50%;
  width: 30%;
  min-width: 160px;
  max-height: 80%;
}
.skill{
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.skill:nth-child(6){
  vertical-align: bottom;
  padding-left: 30px;
}
.row .full-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
}
.achievement, .presentation{
  padding-top: 15px;
  text-align: center;
}
.presentation img{
  width: 100%;
}
.social{
  padding-top: 25px;
  text-align: center;
}
.social table{
  text-align: left;
  margin: auto;
}
.social a{
  text-decoration: none;
  text-align: center;
}
.social td img, .pdf-download{
  max-width: 25px;
  max-height: 25px;
  margin: 2px 0;
}
.social img{
  margin: 25px 0;
  max-width: 160px;
  max-height: 160px;
}
.about-dream-job td{
  vertical-align: top;
}
.no-wrap{
  white-space: nowrap;
}
.education ul{
  margin: 0
}
.pdf-download{
  float: left;
}

@media only screen and (min-width: 768px) {
  body{
    background-image: url(../img/bg_1.svg);
    background-repeat: repeat;
    overflow-y: hidden;
  }
  .bg-notebook{
    width: 90%;
    max-width: 960px;
    top: 110%;
  }
  .section-body, .section-heading, .section2-heading{
    opacity: 0;
  }
  .white-bg{
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    cursor: url(../img/shadow_cursor3.png), default;
    z-index: 9999;
    display: block;
  }
}